<div class="header w-full h-16 bg-white">
  <div class="logo">
    <img src="./logocaval.png" alt="Logo" id="logo" />
  </div>
  <nav class="menu">
    <ul class="flex">
      <li class="mr-4"><a href="/">Home</a></li>
      <li class="mr-4"><a href="">About</a></li>
      <li class="mr-4"><a href="">Services</a></li>
      <li class="mr-4"><a href="">Contact</a></li>
    </ul>
  </nav>
</div>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #e3e8f4;
    color: white;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .menu {
    color: black;
  }
  #logo {
    width: 250px;
    height: 100%;
  }
</style>
